* {
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/10399708_101471406535097_6273954_n.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

html {    
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: 'Sarabun', sans-serif;
}
  


main {
    display: flex;
    flex-direction: column;
}


h1 {
    font-family: 'Sriracha', cursive;
    text-shadow: 2px 2px 3px black;
    line-height: 1.2em;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    padding: 3rem 0 0 0;
    color: white;
}

h2 {
    color: white;
    text-shadow: 2px 2px 3px black;
    text-align: center;
    padding-top: 2rem;
    font-size: 3rem;
    font-weight: inherit;
}

header h3 {
    color: white;
    text-shadow: 2px 2px 3px black;
    font-size: 3rem;
    text-align: center;
}


#mypic {
    border-radius: 50%;
}

.mypicture {
    margin: 0 auto;
    position: relative;
    }

p {
    display: block;
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-shadow: 2px 2px 3px black;
}

#aboutMe {
    color: white;
    background-size: cover;
    text-align: center;
    height: auto;
}

#projects .container {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    margin: auto;
}

.container article {
    float: left;
    border-radius: 5px;
    width: 270px;
    margin: 15px;
}

article {
    display: block;
}

#contactInfo {
    margin-top: 1rem;
    padding-bottom: 7rem;
    text-shadow: 2px 2px 3px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    flex-wrap: wrap;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-flow: row;
    justify-content: center;

    background: rgba(94, 149, 92, 0.328);
}


nav a { 
    padding: .5em 2em;
    text-decoration: none;
    color: #fff
}

nav a:hover {
    background: rgba(88, 155, 82, 0.376);
}

footer {
    background: rgba(111, 221, 126, 0);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

